body{
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}
.bluecolour{
    color: hsl(223, 87%, 63%);
}
.alignment{
    display: flex;
    align-items: center;
}
.gray{
    color: hsl(0, 0%, 59%);
}
.button{
    background-color: hsl(223, 87%, 63%);
    color:white;
}

